#main-nim {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
    padding-top: 50px;
    padding-bottom: -150px;
    z-index: 1;
}

#landing-section {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.mid-content {
    margin: auto;
}

.checker-box {
    background-color: #6e9850;
    width: 800px;
    padding: 50px;
    margin-top: 1.5vw;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
}

.text-nim-head {
    color: #f9d098;
    font-size: 30px;
    font-weight: 700;
}

.form-style {
    border-radius: 15px;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    text-align: center;
    background-color: antiquewhite;
    transition: 0.5s;
}

.form-style:hover {
    border-radius: 15px;
    font-size: 30px;
    color: antiquewhite;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    text-align: center;
    background-color: #FEB224;
    transition: 0.5s;
}

.form-style-submit {
    border-radius: 15px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    border-style: solid;
    text-align: center;
    background-color: antiquewhite;
    transition: 0.5s;
}

.form-style-submit:hover {
    border-radius: 15px;
    font-size: 30px;
    color: aliceblue;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    text-align: center;
    background-color: rgb(58, 207, 58);
    transition: 0.5s;
}

.text-jadwal {
    color: #000;
    font-weight: 700;
    font-size: 28px;
}

.box-count-caas {
    background-color: #b2eeb0;
    border-radius: 1rem;
    margin-top: 0.7rem;
}

.text-count-caas {
    font-weight: 700;
    font-size: 28px;
}

.box-jadwal {
    background-color: rgb(125, 238, 97);
    border-radius: 1rem;
    padding: 0 20px 0 20px;
}

.table-caas {
    color: black;
    font-weight: 700;
    background-color: #f1b442 !important;
}

@media only screen and (max-width:576px) {
    #landing-section {
        background-size: 190%;
        background-position: -55vw;
        padding-top: 35vw;
        padding-bottom: 10vw;
    }
    .text-jadwal {
        font-weight: 400;
        font-size: 20px;
    }
    .checker-box {
        width: 330px;
        margin-top: 40px;
        padding: 30px;
        border-radius: 20px;
    }
    .form-style {
        border-radius: 15px;
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
        border-style: solid;
        text-align: center;
        background-color: antiquewhite;
        transition: 0.5s;
    }
    .form-style-submit {
        border-radius: 15px;
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
        border-style: solid;
        text-align: center;
        background-color: antiquewhite;
        transition: 0.5s;
    }
    .form-style-submit:hover {
        border-radius: 15px;
        font-size: 16px;
        color: aliceblue;
        font-weight: 600;
        padding: 18px;
        border-style: solid;
        text-align: center;
        background-color: rgb(58, 207, 58);
        transition: 0.5s;
    }
    .form-style:hover {
        border-radius: 15px;
        font-size: 18px;
        color: antiquewhite;
        font-weight: 600;
        padding: 15px;
        border-style: solid;
        text-align: center;
        background-color: #FEB224;
        transition: 0.5s;
    }
    #main-nim {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
    .text-nim-head {
        font-size: 20px;
        font-weight: 700;
    }
}