#landing-section {
    background-image: url("/assets/bg-1.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 80%;
    padding-top: 250px;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}

@keyframes landingback {
    0% {
        transform: scale(1);
        transform: translateY(15px);
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
        transform: translateY(0);
        filter: drop-shadow(0 0 0.5rem #ffe75e);
    }
}

@keyframes dlor {
    0% {
        filter: brightness(25%);
    }
    100% {
        filter: brightness(100%);
    }
}

.text-land-1 {
    font-size: 5vw;
    transition: 1s;
    margin-bottom: -30px;
}
.c-text-land-1:hover {
    color: whitesmoke;
    transition: 1ms;
}
.text-land-2 {
    font-size: 50px;
    transition: 1s;
}
.c-text-land-2:hover {
    color: whitesmoke;
    transition: 1ms;
}
.c-text-land-1 {
    margin-top: 0px;
}
.c-text-land-2 {
    margin-top: 20px;
}

.landing-text-p {
    color: #f9d098;
    padding: 0px;
    z-index: 2;
}
.tagline {
    font-style: italic;
    font-size: 1.3vw;
}

@media only screen and (max-width: 991px) {
    #landing-section {
        background-size: 190%;
        background-position:-53vw;
        padding-top: 250px;
    }
    .landing-text-p {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .tagline {
        font-size: 20px;
        font-style: italic;
    }
    .text-land-1 {
        font-size: 12vw;
        transition: 2s;
        margin-bottom: -20px;
    }
}

@media only screen and (max-width: 576px) {
    #landing-section {
        padding-top: 150px;
    }
    .landing-text-p {
        padding-right: 2vw;
    }
    .tagline {
        font-size: 15px;
        font-style: italic;
    }
    .pad-top-about {
        padding-top: 5vw;
    }
}
