#landing-section {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.checker-box {
    background-color: #6e9850;
    width: 100vmin;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(2px 1px 2px gray);
}

.text-nim-head {
    font-size: 2vw;
    font-weight: 700;
}
.text-nim {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

@media only screen and (max-width: 992px) {
    #landing-section {
        background-size: 190%;
        background-position: -55vw;
        padding-top: 21vw;
        padding-bottom: 10vw;
    }
    .text-nim-head {
        font-size: 30px;
    }
    .text-nim {
        font-size: 3vw;
        font-weight: 700;
    }
}
@media only screen and (max-width: 576px) {
    #landing-section {
        padding-top: 14vw;
    }
    .text-nim-head {
        font-size: 23px;
    }
    .text-nim {
        font-size: 3.6vw;
    }
}
