#landing-section {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.rekrutmen-warning {
    font-size: 3.3vmin;
    font-weight: 700;
}

.mid-content {
    margin: auto;
}

.checker-box {
    background-color: #6e9850;
    width: 100vmin;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(2px 1px 2px gray);
}

.text-nim-head {
    font-size: 3vw;
    font-weight: 700;
}
.text-nim {
    font-size: 2.2vw;
    font-weight: 700;
}

.announce-text {
    font-size: 2.5vw;
    font-weight: 700;
    color: #faebd7;
    border-radius: 17px;
    padding: 10px 15px 10px 15px;
}
.announce-box{
    background-color: #218921;
}

.form-style {
    border-radius: 15px;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    text-align: center;
    background-color: antiquewhite;
    transition: 0.5s;
}
.form-style:hover {
    border-radius: 15px;
    font-size: 30px;
    color: antiquewhite;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    text-align: center;
    background-color: #feb224;
    transition: 0.5s;
}

.form-style-submit {
    border-radius: 15px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    border-style: solid;
    text-align: center;
    background-color: antiquewhite;
    transition: 0.5s;
}
.form-style-submit:hover {
    border-radius: 15px;
    font-size: 30px;
    color: aliceblue;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    text-align: center;
    background-color: rgb(58, 207, 58);
    transition: 0.5s;
}
.warning-loop {
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    animation: oppacity-run 0.5s infinite alternate;
}

.text-plot-firstmeet {
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(226, 226, 226);
    color: black;
    font-size: 25px;
    font-weight: 700;
}
.table-caas {
    color: black;
    font-weight: 700;
    background-color: #f1b442 !important;
}
@keyframes oppacity-run {
    0% {
        opacity: 20%;
    }
    100% {
        opacity: 100%;
    }
}
@media only screen and (max-width: 992px) {
    #landing-section {
        background-size: 190%;
        background-position: -55vw;
        padding-top: 35vw;
        padding-bottom: 10vw;
    }
    .text-nim-head {
        font-size: 5vw;
    }
    .text-nim {
        font-size: 3vw;
        font-weight: 700;
    }
    .announce-text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 576px) {
    .text-nim-head {
        font-size: 7vw;
    }
    .text-nim {
        font-size: 5vw;
    }
}
