.dlor-navbar {
    height: 5vw;
    filter: drop-shadow(2px 1px 2px gray);
    transition: 0.2s;
    z-index: 2;
}

.navbar-collapse {
    flex-grow: 0;
}

@keyframes hanging {
    0% {
        transform: translateX(-300%) translateY(-100%) rotate(0deg);
    }
    30% {
        transform: translateX(-350%) translateY(-3%) rotate(20deg);
    }
    100% {
        transform: translateX(-300%) translateY(-8%) rotate(-10deg);
    }
}
@keyframes fall {
    0% {
        transform: translate(-16vw, -10vw);
    }
    100% {
        transform: translate(-16vw, 2.1vw);
    }
}
.monyet-img {
    animation: hanging 5s infinite alternate;
}
.leaf-img {
    animation: fall 2.2s;
    transform: translate(-16vw, 2.1vw);
}

.nav-item-login {
    background-color: #6e9850;
    transition: 0.2s;
    padding-inline: 1vw;
}
.nav-item-login:hover {
    background-color: #f9d098;
    color: #6e9850;
    transition: 0.5s;
}

.dlor-logonav {
    filter: brightness(0%);
    width: 50px;
    height: 50px;
    transition: 0.5s;
}
.dlor-logonav:hover {
    filter: brightness(100%);
    width: 50px;
    height: 50px;
    transition: 0.5s;
}
.dlor-navright {
    font-size: 20px;
}

.nav-link {
    transition: 100s;
    color: #f9d098;
}
.nav-item {
    transition: 0.5s;
}

.nav-link {
    color: #f9d098;
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    transition: 0.2s;
}
.nav-link:hover {
    color: #6e9850;
    filter: drop-shadow(2px 2px 2px gray);
    transition: 0.2s;
}

@media only screen and (max-width: 992px) {

    .dlor-navright {
        font-size: 2vw;
        padding: 2vw;
    }
    .nav-item-login {
        padding-inline: 2vw;
    }
    @keyframes hanging {
        0% {
            transform: translateX(170%) translateY(-40%) rotate(20deg);
        }
        100% {
            transform: translateX(170%) translateY(-40%) rotate(-10deg);
        }
    }
    .monyet-img {
        animation: hanging 3s;
        transform: translateX(170%) translateY(-40%) rotate(-10deg);
        width: 25%;
    }
    @keyframes fall {
        0% {
            transform: translate(-200vw, 0vw);
        }
        100% {
            transform: translate(-70vw, -20px);
        }
    }
    .leaf-img {
        animation: fall 2.2s;
        transform: translate(-70vw, -20px);
        width:150%;
    }
}
@media only screen and (max-width: 576px) {
    .dlor-navright {
        font-size: 15px;
        padding: 8px;
    }
}